.navigation{
    a:hover{
        color: white;
        text-decoration: none;
    }
}
.statistics-container {
    background-color:#183446;
    padding: 0 20px;
}

.navigation-container {
    background-color:#0090C1;
    padding: 0 220px;
    font-family: 'Roboto', sans-serif;
    font-size:18px;
}

.general-statistics-container {
    background-color: #ccf2ff;
    padding: 10px 220px 10px 220px;
    font-family: 'Arvo', sans-serif;
    font-size: 15px;
    text-align: center;
}